<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>
<body>
    <h1>Home videos</h1>
    <hr>
    <h3>Bem vindo, esta é na página de vídeos</h3>
    <p>Escolha uma playlist ou o vídeo que deseja reproduzir:</p>
    <% if(!video || !playlist) { %>
        <p><%= playlist %></p>
        <p><%= videos %></p>
    <% } %>
</body>
</html>