<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bem vindo</h1>
    <h3>Iniciando estudos com Node.js e Express</h3>
    <p>Esta página está sendo renderizada com o EJS no Express</p>
</body>
</html>